@import "tailwindcss";

html {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  max-height: 100vh;  
  background-color: #09080a;
  padding: 10px 10px 0;
  overflow: hidden;
}

h2 {
  color: #ececec;
  font-size: 2rem;
  font-weight: 500;
}

h5 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

h6 {
  color: #b3b3b3;
  font-size: 0.8rem;
  font-weight: 500;
}

p {
  color: #b3b3b3;
  font-size: 1.1rem;
  font-weight: 500;
}
